<!DOCTYPE html>
<html>
<head>
	<title>Testing angularjs files</title>
	<script type="text/javascript" src="resources/js/vendors/angular.min.js"></script>
	 <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
	 <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="resources/css/main.css">
</head>
<body ng-app="myApp">
<div class="header">
	<div class="container">
		<h1>Book End</h1>
	</div>
</div>
<div class="main" ng-controller="MainController">
	<div class="container">
		<h1>{{title}}</h1>
		<h2>{{promo}}</h2>
		<div ng-repeat="product in products" class="col-md-7">
			<div class="thumbnail">
			<img ng-src="{{product.cover}}">
				<p class="title">{{product.name | uppercase}}</p>
				<p class="price">{{product.price | currency}}</p>
				<p class="date">{{product.pubdate | date }}</p>
				<div class="rating">
					<p class="likes" ng-click="plusOne($index)">+ {{product.likes}}</p>
					<p class="dislikes" ng-click="minusOne($index)">+{{product.dislikes}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- module-->
<script type="text/javascript" src="resources/js/app.js"></script>
<!-- controller-->
<script type="text/javascript" src="resources/js/controllers/MainController.js"></script>
</body>
</html>
